
.projects {
    margin: 2.5% 0% 0% 2%;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.;
    background-color: var(--primary-color);
    width: 1420px;
    display: flex;
    flex-wrap: wrap; 
}

.large-project {
    margin: 0px 0px 40px 0px;
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    padding: 500px 20px 0px 0px;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
    /* background-image: url("../images/Circuit.svg"); */
    background-size: cover;
    background-position: 80%;
}

.large-project a h3 {
    margin: 0px 5px 20px 0px;
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 20px;
    width: 100%;
    border-style: solid solid solid none;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
}

.large-project a {
    text-decoration: none;
}

.large-project a:visited {
    text-decoration: none;
}

.large-project a:focus {
    outline: 0;
    border: none;
}


.large-project a:focus > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.large-project a:hover > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

#aim:hover {
    filter: brightness(150%);
}

.small-project {
    line-height: 1.;
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    column-gap: 2%;
    row-gap: 30px;
}

.small-project a {
    text-decoration: none;
}

.small-project a:visited {
    text-decoration: none;
}

.project {
    
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 300px 10px 0px 0px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    width: 49%;
}



#bash {
    /* background-image: url("../images/Circuit-2.svg"); */
}

#bash:hover {
    filter: brightness(150%);
}

#html {
    /* background-image: url("../images/Patterns.svg"); */
}

#html:hover {
    filter: brightness(150%);
}

#java {
    /* background-image: url("../images/Curve.svg"); */
}

#java:hover {
    filter: brightness(150%);
}

.project a h3 {
    margin: 0px 5px 20px 0px;
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 20px;
    width: 100%;
    border-style: solid solid solid none;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
}

.project a:focus {
    outline: 0;
    border: none;
}


.project a:focus > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.project a:hover > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}