
.projects {
    display: flex;
    flex-direction: row;
}

.small-projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin: 20px;
    min-height: 370px;
    width: 42%;
    /* display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; */
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(255,255,255,0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* transition: opacity .2s, visibility .2s; */
  }

  .project a h3 {
    background-color: #343a40;
    color: white;
    background-size: auto;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
        /* display: flex;  */

}

.project a .icon {
    background-color: #343a40;
    color: white;
    /* background-size: auto; */
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border-radius: 15px;
    display: inline-block;
    line-height: 5;
}

.project:hover > .img__description {
  visibility: visible;
  opacity: 1;
}

.img__description h3:hover {
  border-radius: 15px;
  text-shadow: none;
  background-color: white;
  color: #343a40;
}

.project a .icon:hover {
  background-color: white;
  color: #343a40;
}

/* Need to develop way to bind focus and hover for accessibility purposes */
/* .project:focus > .img__description {
  visibility: visible;
  opacity: 1;
} */
  
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    @media screen and (max-width: 575px) {

        .project {
            width: 100%;
        }

          }
    