nav {
    margin: 7px 0;
}

.nav-tabs {
    padding: 40px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav ul li a {
    padding: 10px 25px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
    background-color: white;
    color: #343a40;
}

nav ul li a:focus     {
    border-radius: 15px;
    text-shadow: none;
    background-color: white;
    color: #343a40;
    outline: 0;
    /* border: none; */
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 750px) {

    header nav ul a {
    padding: 0px 14px
    }
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
    header nav ul li {
        margin: 15px 0px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: none;
    }

    header nav ul a {
    padding: 0px 14px
    }

  }