.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-size: 30px;
  font-family: Monaco;
}

a.skip-main {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
a.skip-main:focus, a.skip-main:active {
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-name {
  padding: 10px 0px;
}


.form-email {
  padding: 10px 0px;
}


.form-message {
  padding: 10px 0px;
}


.form-button {
  padding: 10px 0px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #f4f4f4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
